__pycache__/
.pytest_cache
.Python
.env
env/
venv/
.vscode/

# Unit test / coverage reports
htmlcov/
html_coverage_report/
.tox/
.coverage
.coverage.*
.coveragerc
setup.cfg
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
